# Numeric Data Type

In [42]:
# NUmeric Data Type

x=10 #int
y=10.5 #float
z=10+5j #10 is real number and 5j is imaginary //complex

In [2]:
type(x)

int

In [3]:
type(y)

float

In [4]:
type(z)

complex

In [5]:
isinstance(z,complex)

True

In [9]:
isinstance(x,complex)

False

In [20]:
#int to float  convert

n =float(x) #n=float

In [21]:
n

10.0

In [22]:
n = int(n)

In [23]:
n

10

In [27]:
n= complex(n)

In [28]:
n

(10+0j)

In [37]:
n= complex(input ("Enter the Complex Number:"))

Enter the Complex Number:150

In [40]:
print('Complex is: ',n)

Complex is:  (150+0j)

# Boolean Data Types: True or False

In [45]:
#Boolean Data Types
x= True
y=False

In [48]:
x

True

In [49]:
y

False

# Sequence Data Tupe

In [55]:
#List
l =[1,2,3,4,True,{1,2}, 'data',(1,2,3,8)]

In [56]:
l

[1, 2, 3, 4, True, {1, 2}, 'data', (1, 2, 3, 8)]

In [58]:
l[0]

1

In [66]:
l[-1]

(1, 2, 3, 8)

In [67]:
l[-1][-1]

8

In [68]:
type(l) #check data type

list

In [71]:
isinstance(l, list) #check data type

True

In [77]:
#Tupe()

t=(1,5,8,9,'AI')
type(t)

tuple

In [78]:
t[0:4] #0:4 means 0 to 4 all index show.

(1, 5, 8, 9)

In [79]:
t[0]

1

In [80]:
#Range()

x =range(10) #first case

In [81]:
x

range(0, 10)

In [84]:
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [89]:
x = range(5, 20) #Second case

for i in x:
    print (i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [90]:
x=range(5,20,3) #3rd case

for i in x:
    print(i)

5
8
11
14
17

In [93]:
x =range(20, 5,-3) #4th case
for i in x:
    print(i)

20
17
14
11
8

In [108]:
#Array # say type code 'i'

import array as ar
a = ar.array('i',[1,2,3,4])
a

array('i', [1, 2, 3, 4])

In [107]:
type(a)

array.array

In [110]:
import array as ar
a = ar.array('f',[1.5,2,3.1,4])

In [111]:
a

array('f', [1.5, 2.0, 3.0999999046325684, 4.0])

In [112]:
#string

x= 'Data'
type(x)

str

In [113]:
x

'Data'

In [122]:
x='I love' ' Machine learing'

In [123]:
x

'I love Machine learing'

In [124]:
x='''I love
Machine Learning
'''

In [125]:
x

'I love\nMachine Learning\n'

In [126]:
type(x)

str

In [130]:
#Set type

s={1,2,3,5}

In [131]:
s

{1, 2, 3, 5}

In [132]:
type(s)

set

In [141]:
#Mapping type
#Dictonary


dic={
    'Versity': 'Green University','Dept': 'Computer Science'
}

In [134]:
dic

{'Versity': 'Green University', 'Dept': 'Computer Science'}

In [142]:
type(dic)

dict

In [144]:
dic.keys() #Keys

dict_keys(['Versity', 'Dept'])

In [158]:
dic.values() #Values

dict_values(['Green University', 'Computer Science'])

In [160]:
#Data  Frame(Pandas)
#from pandas import read_csv

import pandas as pd
df=pd.read_csv('colors.csv')

In [161]:
df.head()

     air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
0   air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
1  air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
2       alabama_crimson        Alabama Crimson  #a32638  163   38   56
3            alice_blue             Alice Blue  #f0f8ff  240  248  255
4      alizarin_crimson       Alizarin Crimson  #e32636  227   38   54

In [163]:
df.shape #Here 864 is row and 6 column

(864, 6)

In [164]:
df.head(864)

       air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
0     air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
1    air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
2         alabama_crimson        Alabama Crimson  #a32638  163   38   56
3              alice_blue             Alice Blue  #f0f8ff  240  248  255
4        alizarin_crimson       Alizarin Crimson  #e32636  227   38   54
..                    ...                    ...      ...  ...  ...  ...
859         yellow_orange          Yellow Orange  #ffae42  255  174   66
860        yellow_process       Yellow (Process)  #ffef00  255  239    0
861            yellow_ryb           Yellow (Ryb)  #fefe33  254  254   51
862                zaffre                 Zaffre  #0014a8    0   20  168
863     zinnwaldite_brown      Zinnwaldite Brown  #2c1608   44   22    8

[864 rows x 6 columns]

In [165]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   air_force_blue_raf    864 non-null    object
 1   Air Force Blue (Raf)  864 non-null    object
 2   #5d8aa8               864 non-null    object
 3   93                    864 non-null    int64
 4   138                   864 non-null    int64
 5   168                   864 non-null    int64
dtypes: int64(3), object(3)
memory usage: 40.6+ KB

In [166]:
#Binary TYpes

byte_arr=bytearray('ABCDEF','utf8')

In [167]:
type(byte_arr)

bytearray

In [168]:
byte_arr

bytearray(b'ABCDEF')

In [169]:
memoryview(byte_arr) #data type

In [170]:
memoryview(byte_arr)[0]

65

In [171]:
mv = memoryview(byte_arr)  #Replace Capital A to small a
mv[0] =97

In [173]:
memoryview(byte_arr)[0]

97

In [174]:
byte_arr

bytearray(b'aBCDEF')